<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423335313231-cj0fmvja4rkuf4841jnfoelduu9gj12h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423335313231-cj0fmvja4rkuf4841jnfoelduu9gj12h</string>
	<key>API_KEY</key>
	<string>AIzaSyDBbC4y-bvKN9lb8TJeC97h-zNfBIbTxT8</string>
	<key>GCM_SENDER_ID</key>
	<string>423335313231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dminoror.gplayer</string>
	<key>PROJECT_ID</key>
	<string>fplayer-50d85</string>
	<key>STORAGE_BUCKET</key>
	<string>fplayer-50d85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423335313231:ios:2a8c79c7d3d81c441a8f3a</string>
	<key>DATABASE_URL</key>
	<string>https://fplayer-50d85.firebaseio.com</string>
</dict>
</plist>